module "dbcs_<DB_NAME>" {  
    source       = "./modules/dbcs/"

    // Carry these through from root vars.tf
    tenancy_ocid        = "${var.tenancy_ocid}"
    compartment_ocid    = "${var.compartment_ocid}"

    // Root Resrouces
    availability_domain = local.availability_domain
    subnet_id           = oci_core_subnet.subnet_private.id
    subnet_domain       = oci_core_subnet.subnet_private.subnet_domain_name
    subnet_nsg          = oci_core_network_security_group.private_nsg.id

    // Specific Static
    db_version              = "<DB_VERSION>"
    storage_management      = "<DB_STORAGE>"
    shape                   = "VM.Standard2.8"
    data_storage_size_in_gb = "1024"

    // Specific Variable
    license_model           = "<LICENSE>"
    db_name                 = "<DB_NAME>"
    display_name            = "<DB_NAME>"
    pdb_name                = "<PDB_NAME>"
    db_source               = "<NONE|DATABASE|CDB>"
    db_source_id            = <DB_SOURCE_ID>
    system_source_id        = <SYSTEM_SOURCE_ID>
}

output "dbcs_<DB_NAME>_pdbs" {  
    value       = module.dbcs_<DB_NAME>.pdbs
}